canvas {

    border: 4px solid black;

    animation-name: anime_example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes anime_example {


    from{
box-shadow: 1px 1px 30px green;
    }

    to{
        box-shadow: 1px 1px 30px blue;
    }
}